%h4 Configure an xmpp channel

%p You're almost done! To complete the xmpp connection for #{@channel.address} perform the following steps in the given order:

%ol
  %li Add "#{Channel::Addresses['xmpp']}" to you xmpp client. <br/> Login to your GTalk account and add #{Channel::Addresses['xmpp']} as a contact.
  %li Send us the confirmation code. <br/> Send the following message "#{@channel.activation_code}" through xmpp in order to authenticate your account.
