Hello #{@user.login},

To activate this #{@channel.protocol_name} please click on the following link:

#{link_to activate_channel_url(@channel, :activation_code => @channel.activation_code), activate_channel_url(@channel, :activation_code => @channel.activation_code)}

Alternatively, you can fill in the activation code:

#{@channel.activation_code}
