%h3 #{@group.name_with_alias}

%h4 Change location

= form_for @group, :url => update_group_location_path, :html => {:method => :post} do |f|
  = render 'shared/location', :f => f, :lat => (@group.lat || @user.lat), :lon => (@group.lon || @user.lon), :width => 800, :height => 300
  = submit_tag 'Change location'
