%h3 #{@group.name_with_alias}

%h4 Change group kind

= form_for @group, :url => update_group_kind_path, :html => {:method => :post} do |f|
  = render 'kind', :f => f
  = submit_tag 'Change group kind'
