%h4 Your location

= render :partial => 'location'

#{link_to 'Change your location', change_user_location_path}

%h4 Your custom locations

%p
  Custom locations allow you to send shorter messages to report your location. <br/>
  For example, if you have a custom location named "work" you can just send "at work".

= render :partial => 'shared/custom_locations', :locals => {:locatable => @user, :can_edit => true}

%h4 Your password

#{link_to 'Change your password', change_user_password_path}
